/* Fontes arial e espaçamento  */

/* Área de impressão modelo de configuração  */
@media print{
    #pagina{        
        color:rgb(77, 71, 71);         
        font-family: Arial, Helvetica, sans-serif;
    }
    nav{
        background-color: dimgrey;
        position: absolute;
    }
    #post2{
        margin-top: 150px;
        gap: 20px;
    }
    /* Por segurança Modo Dark desabilitado o print para não haver nenhum prejuizo ao usuario */
    .temaDark{
        background-color: white;
    }
    /*  */
    #categoria{
        margin-top: 0px;
    }
    .printAjust{
        padding-top: 100px;
    }
    footer{
        margin-top: 0px;
        background-color: dimgrey;
    }
    p{
        font-size: 12pt;
    }
}
