#pagina{
    width: 100%;
    height: auto;
}
nav{
    /* width: 100%; */
    background-color: black;
}
/* header{
    width: 50%;
    margin: 0px auto;
}
main{
    width: 50%;
    margin: 0px auto;
} */
footer{    
    background-color: black;
}