*{
    margin: 0%;
    padding: 0%;
}

#pagina{
    min-width: 1000px;
    max-width: 1300px;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* Inicio Nav */
nav{
    width: 100%;
    /* height: 100px;     */
    height: auto;
    padding: 50px 0px;
    background-color: rgb(248, 225, 182);
    display: flex;
    justify-content:center;
    align-items: center;
     
}


#linkNavList{
    width: 100%;
    height: auto;
    list-style: none; 
    display: flex;    
    gap: 5px;
}


nav a{
    text-decoration: none;
    
}

.linkLilas{
    color: rgb(102, 50, 224);
}

.linkRosa{
    color: rgb(224, 50, 209);
    
}

#navButton{
    width: 100%; 
    display: none;  
    
}
nav button{
    width: 50px;
    height: 50px; 
    border-radius: 10px;   
}

#btnButtonMenu{
    border: 3px solid rgb(102, 50, 224);
    background-color: white;
    color: rgb(102, 50, 224);
    transition: 1s;
    
}

#btnButtonMenu:hover{    
    background-color: rgb(102, 50, 224);
    color: white;
    font-weight: bolder;
    transition: 1s;    
}

#blocosNav{
    width: 100%;
    height: auto;    
    display: flex;
    justify-content:space-between;    
}
.close{
    display: flex; 
    justify-content:space-between;
} 
.sumir{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.linkControlBlocos{
    width: 150px;
    height: auto;
    list-style: none;
    line-height: 40px;
    border: 3px outset rgb(214, 212, 212); 
}

#linkNoticias{
    display: none;     
}

#linkEsportes{
    display: none;     
}

#linkEconomia{
    display: none;
}

#linkClima{
    display: none;
}

#linkSaude{
    display: none;
}

#linkViagens{
    display: none;
}

#linkInovacao{
    display: none;
}

#linkDiversao{
    display: none;
}

/* Fim Nav */

/* Inicio de Header */
header{
    width: 50%;
    height: 600px;
    margin: 50px auto;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(297deg, rgba(2,0,36,1) 0%, rgba(75,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(297deg, rgba(2,0,36,1) 0%, rgba(75,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(297deg, rgba(2,0,36,1) 0%, rgba(75,9,121,1) 35%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
#post{
    width: 40%;
    height: 500px;
    margin-top: 30px;
    padding: 30px 30px; 
    line-height: 30px;
}
#imgHeader{
    width: 50%;
    height: 300px;
    background-image: url(../img/ux-indonesia-2NDWFiD0UMM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;      
     
}


/* Fim de Header */

/* Inicio Main */
main{
    width: 100%;
    height: auto;
    margin: 0px auto;
}
p{
    text-align: justify;
    padding: 15px 20px;
}

/* Inicio post1 */

.marcacaoSublinhado{
    width: 40%;
    border: none;
    border-bottom: 3px solid palevioletred;
    text-align: center;
}

hr{
    width: 100%;
}
/* fim post2 */

/* inicio post3 */

#post2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;   
}


#controlPosts{
    display: flex;
    justify-content:space-around;       
}

#dimensoesImg{
    width: 200px;    
    height: 200px;
    border: 5px solid red;
}

#conteudo{
    width: 60%;
    height: auto;
}
.controlImg{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-right: 30px;
}
#imgEsportes{    
    background-image: url(../imagens/natacao.jpg);   
}

#imgEconomia{   
    background-image: url(../imagens/dinheiro.jpg);    
}

#imgClima{
    background-image: url(../imagens/clima.jpg);
}

#imgSaude{
    background-image: url(../imagens/saude.jpg);
}
#imgViagens{
    background-image: url(../imagens/viagens.jpg);
}

#imgNovidadesTec{
    background-image: url(../imagens/inovações.jpg);
}
#imgEntret{
    background-image: url(../imagens/entretenimento.jpg);
}


.colorH3{
    color: rgb(224, 50, 209);
}



/* Inicio Seção de Vendas Promocionais*/

section{
    width: 100%;
    height: auto;
    padding: 10px 0px;
    margin-top: 60px;
    background-color: rgb(219,219,219);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#categoriasGrupo{
    width: 90%;
    height: 400px;    
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 60px;
}

.categoria{
    width: 30%;
    height: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 80px;
}

.categoriaPublic{
    width: 30%;
    height: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;       
}

#amazon{
    background-image: url(../imagens/amazon.jpg);
}
#aliexpress{
    background-image: url(../imagens/aliexpress.jpg);
}
#mcdonalds{
    background-image: url(../imagens/mcdonalds.jpg);
}

.categoriaDescricao{
    width: 80%;
    height: auto;
    padding: 20px;
    background-color: blue;
    margin: 20px 0px;
    border-radius: 20px;
    display: none;
}

/* Fim Main */
