/* @keyframes animation */
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

/* @keyframes fonts */
/* @font-face fonts */

@font-face {
    font-family:josefin;
    src: url(../fontes/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: romelio;
    src: url(../fontes/romelio_sans/Romelio.ttf);
}
@font-face {
    font-family: publicSans;
    src: url(../fontes/Public_Sans/PublicSans-Italic-VariableFont_wght.ttf);
}





/* @font-face fonts */


*{
    margin: 0%;
    padding: 0%;
}

#pagina{
    width: 100vh;
    /* min-width: 1000px;
    max-width: 1300px; */
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}
::-webkit-scrollbar{
    width: 0%;
}



/* Inicio Nav */
nav{
    width: 100%;    
    height: auto;
    padding-top: 40px;    
    background-color: black;
    display: flex;
    justify-content:center;
    align-items: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
     
}
#morcegos{
    display: none;
}

#linkNavList{
    width: 100%;
    height: auto;
    list-style: none; 
    display: flex;    
    gap: 36px;
}


nav a{
    text-decoration: none;
    
}

.linkLilas{
    color: rgb(102, 50, 224);
}

.linkRosa{
    color: rgb(224, 50, 209);
    
}

#navButton{
    width: 100%; 
    display: none;  
    
}
nav button{
    width: 50px;
    height: 50px; 
    border-radius: 10px;   
}

#btnButtonMenu{
    border: 3px solid rgb(102, 50, 224);
    background-color: white;
    color: rgb(102, 50, 224);
    transition: 1s;
    
}

#btnButtonMenu:hover{    
    background-color: rgb(102, 50, 224);
    color: white;
    font-weight: bolder;
    transition: 1s;    
}

#blocosNav{
    width: 100%;
    height: auto;    
    display: flex;
    justify-content:space-between;    
}
#blocosNav a{
    animation-duration: 1s;
    animation-name: slidein;
}
.close{
    display: flex; 
    justify-content:space-between;
    
} 
.sumir{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.linkControlBlocos{
    width: 150px;
    height: auto;
    list-style: none;
    line-height: 40px;
    border: 3px outset rgb(214, 212, 212); 
}

#linkNoticias{
    display: none;     
}

#linkEsportes{
    display: none;     
}

#linkEconomia{
    display: none;
}

#linkClima{
    display: none;
}

#linkSaude{
    display: none;
}

#linkViagens{
    display: none;
}

#linkInovacao{
    display: none;
}

#linkDiversao{
    display: none;
}

/* muda Tema */
.buttonNav{
    width: 10%;
    display: flex;
    justify-content:center;
}

#mudaTema{
    border-radius: 50%;
    border: 3px solid white;
    background-color: black;
    width: 40px;
    height: 40px;
}

#mudaTema:hover{
    box-shadow: 5px 5px 5px white;
    cursor: pointer;
}

.temaLight{
    background-color: white;
}

.temaDark{
    background-color: black;
    color: white;
}
/* muda tema */


/* Fim Nav */

/* Inicio de Header */
header{
    width: 100%;
    height: auto;    
}
/* Inicio carousel */
#controlAltCarousel{
    height: 450px; 
    overflow: hidden;
} 
.textAltCarrousel{
    width: 100%;
    height: 450px; 
    display: flex;  
    flex-direction: column;  
    justify-content:end;
    align-items:end;
    font-weight: bolder;
    color: white;
}
.ajusteImgCarousel{
    height: 450px; 
    background-size: cover; 
    background-position: center;
}

/* Inicio Img Index */
#img1Carousel{
    background-image: url(../imagens/clima.jpg); 
   
}
#img2Carousel{
    background-image: url(../imagens/natacao.jpg);     
} 
#img3Carousel{
    background-image: url(../imagens/nasa-rTZW4f02zY8-unsplash.jpg);     
} 
/* Fim Img Index */
/* Inicio Img Noticias */
#img4Carousel{
    background-image: url(../imagens/coletivaNoticias.jpg);     
}
#img5Carousel{
    background-image: url(../imagens/jornalNoticias.jpg);     
}
#img6Carousel{
    background-image: url(../imagens/leitoresNoticias.jpg);     
}

/* Fim Img Noticias */
/* Inicio Img Eportes */
#img7Carousel{
    background-image: url(../imagens/surfEsportes.jpg);     
}
#img8Carousel{
    background-image: url(../imagens/golfeEsportes.jpg);     
}
#img9Carousel{
    background-image: url(../imagens/corridaEsportes.jpg);     
}

/* Fim Img Eportes */

/* Inicio Img Economia */
#img10Carousel{
    background-image: url(../imagens/criptoEconomia.jpg);     
}
#img11Carousel{
    background-image: url(../imagens/graficoEconomia.jpg);     
}
#img12Carousel{
    background-image: url(../imagens/pregaoEconomia.jpg);     
}

/* Fim Img Economia */

/* Inicio Img Clima */
#img13Carousel{
    background-image: url(../imagens/incendioClima.jpg);     
}
#img14Carousel{
    background-image: url(../imagens/naturezaClima.jpg);     
}
#img15Carousel{
    background-image: url(../imagens/queimadaClima.jpg);     
}

/* Fim Img Clima */

/* Inicio Img Saúde */
#img16Carousel{
    background-image: url(../imagens/saladaSaude.jpg);     
}
#img17Carousel{
    background-image: url(../imagens/exercicioSaude.jpg);     
}
#img18Carousel{
    background-image: url(../imagens/meditacaoSaude.jpg);     
}
/* Fim Img Saúde */

/* Inicio Viagens */
#img19Carousel{
    background-image: url(../imagens/baloesViagens.jpg);     
}
#img20Carousel{
    background-image: url(../imagens/canionsViagens.jpg);     
}
#img21Carousel{
    background-image: url(../imagens/mochileiroViagens.jpg);     
}
/* Fim Viagens */

/* Inicio Inovação */
#img22Carousel{
    background-image: url(../imagens/calculosInovacao.jpg);     
}
#img23Carousel{
    background-image: url(../imagens/motoInovacao.jpg);     
}
#img24Carousel{
    background-image: url(../imagens/roboInovacao.jpg);     
}
/* Fim Inovação */

/* Inicio Diversão */
#img25Carousel{
    background-image: url(../imagens/abacaxiDiversao.jpg);     
}
#img26Carousel{
    background-image: url(../imagens/brinquedoDiversao.jpg);     
}
#img27Carousel{
    background-image: url(../imagens/dogDiversao.jpg);     
}

/* Fim Diversão */


/* Fim carousel */


#apresentacao{
    width: 100%;
    height: 350px;
    margin: 0px auto;    
    background: rgb(2,0,36);
    background: -moz-linear-gradient(297deg, rgba(2,0,36,1) 0%, rgba(75,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(297deg, rgba(2,0,36,1) 0%, rgba(75,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(297deg, rgba(2,0,36,1) 0%, rgba(75,9,121,1) 35%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius : 15px;
   
}
#post{
    width: 40%;
    height: 300px;
    margin-top: 30px;
    padding: 30px 30px; 
    line-height: 30px;
}

.confImag{
    width: 50%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
#imgHeader{    
    background-image: url(../imagens/ideias.jpg);    
}

#imgHeaderNoticias{
    background-image: url(../imagens/nasa-rTZW4f02zY8-unsplash.jpg);
}


/* Fim de Header */

/* Inicio Main */
main{
    width: 100%;
    height: auto;
    margin: 0px auto;
}
p{
    font-family: josefin; 
    font-size: 14pt;   
}

.pAjuste{
    text-align: justify;
    padding: 15px 20px;
}

h1{
    /* font-family: sachila;     */
    font-family: publicSans;
}
.fontNexa{
    font-family: romelio;
}

.h1Ajuste{
    font-size: 25pt;
    padding-top: 15px;
}


/* Inicio post1 */

.marcacaoSublinhado{
    width: 40%;
    border: none;
    border-bottom: 3px solid palevioletred;
    text-align: center;
}


/* fim post2 */

/* inicio post3 */

#post2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;   
}


#controlPosts{
    width: 100%;
    display: flex;
    justify-content:space-between;       
}

#dimensoesImg{
    width: 30vh;    
    height: 200px;
    border: 5px solid rgb(43, 41, 41);
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgb(77, 75, 75);
}

#conteudo{
    width: 100%;
    height: auto;
    margin: 0px 30px;
}
.controlImg{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;    
}
#imgEsportes{    
    background-image: url(../imagens/natacao.jpg);   
}

#imgEconomia{   
    background-image: url(../imagens/dinheiro.jpg);    
}

#imgClima{
    background-image: url(../imagens/clima.jpg);
}

#imgSaude{
    background-image: url(../imagens/saude.jpg);
}
#imgViagens{
    background-image: url(../imagens/viagens.jpg);
}

#imgNovidadesTec{
    background-image: url(../imagens/inovações.jpg);
}
#imgEntret{
    background-image: url(../imagens/entretenimento.jpg);
}

/* Imagem pagina Economia */
#imgEco1{
    background-image: url(../imagens/ctps_Economia.jpg);
}
#imgEco2{
    background-image: url(../imagens/energia_Economia.jpg);
}
#imgEco3{
    background-image: url(../imagens/gasolina_Economia.jpg);
}
#imgEco4{
    background-image: url(../imagens/cartao_Economia.jpg);
}
#imgEco5{
    background-image: url(../imagens/cartao2_Economia.jpg);
}
#imgEco6{
    background-image: url(../imagens/metrô_Economia.jpg);
}



.colorH3{
    color: rgb(224, 50, 209);
}



/* Inicio Seção de Vendas Promocionais*/

section{
    width: 100%;
    height: auto;
    padding: 10px 0px;
    margin-top: 60px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#categoriasGrupo{
    width: 90%;
    height: 400px;    
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 60px;
}

.categoria{
    width: 30%;
    height: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 80px;
}

.categoriaPublic{
    width: 30%;
    height: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;       
}

#amazon{
    background-image: url(../imagens/amazon.jpg);
}
#aliexpress{
    background-image: url(../imagens/aliexpress.jpg);
}
#mcdonalds{
    background-image: url(../imagens/mcdonalds.jpg);
}

.categoriaDescricao{
    width: 80%;
    height: auto;
    padding: 20px;
    background-color: blue;
    margin: 20px 0px;
    border-radius: 20px;
    display: none;
}


/* Fim Main */
footer{
    width: 100%;
    height: 80px;
    display: flex;   
    justify-content: center;
    align-items: center;    
    background-color: black;
    color: white;
}
